/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face
  font-family: 'Roadgeek'
  src: font-url('roadgeek.ttf') format('truetype')
  font-weight: normal
  font-style: normal

html, body, #root
  height: 100%
  margin: 0
  padding: 0

.app
  display: flex
  flex-direction: column
  -webkit-box-direction: normal
  -webkit-box-orient: vertical
  height: 100%

  .map
    -webkit-flex: 1
    flex: 1
    position: relative

    .story-marker
      position: absolute
      background: #007a3c
      border: #d0d0d0 solid 2px
      padding: 4px 12px
      color: #fff
      border-radius: 4px
      width: 290px
      font-size: 22px
      line-height: 30px
      font-family: 'Roadgeek'

      &.india-warning-tigers
        

  .blog
    flex: 2
