/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$map-height: 40vh
$blog-height: 100vh - $map-height
$introduction-height: 50vh

@font-face
  font-family: 'Roadgeek'
  src: font-url('roadgeek.ttf') format('truetype')
  font-weight: normal
  font-style: normal

body
  max-width: 960px
  margin: 0 auto

.img-responsive
  width: 100%

html, body, #root, .app
  height: 100%

.app
  display: flex
  flex-flow: column
  &.introduction-layout
    .introduction
      flex: 0 1 auto
    .map
      flex: 1 2 auto
      > div
        position: absolute !important

  &.story-layout
    display: block
    .map
      height: 50vw

  .introduction
    text-align: center

  .map
    .story-marker
      position: absolute
      cursor: pointer
      background: #007a3c
      border: #d0d0d0 solid 2px
      padding: 4px 12px
      color: #fdfdfd
      border-radius: 7px
      width: 290px
      font-size: 0.9em
      font-family: 'Roadgeek'

      .distance-to-go
        float: right

      &.periyar-tiger-reserve
        width: 144px

        h1
          text-align: center

  .blog
    overflow: auto

    .happened-at
      float: right
